.primary-nav {
  background-color: black;
}

.primary-nav li {
  display: inline;
}

.primary-nav li a {
  text-decoration: none;
}

.primary-nav div {
  float: right;
}

.sticky-nav {
  background-color: black;
}

.sticky-nav li {
  display: inline;
}

.sticky-nav div {
  float: right;
}

.grid-main-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
}

.inline-grid {
  display: inline-grid;
  grid-gap: 10px;
}

.grid-main-section article {
  background-color: khaki;
  background-image: url(assets/mini-pig.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header-article {
  width: 1255px;
  height: 544px;
}

.wrapper {
  margin: 0 auto;
  background-color: tomato;
  padding: 0 20px;
  max-width: 1192px;
}

.latest-news-section ul {
  display: flex;
  list-style: none;
  background-color: red;
}

.inline {
  display: inline;
}

.index-co {
  background-color: royalblue;
}

.float-link {
  float: right;
}

.tile {
  background-color: royalblue;
}

.tile img {
  float: left;
}

.flex {
  display: flex;
  margin-top: 5px;
}

.tile {
  margin-right: 1px;
  width: 25%;
}

.post {
  background-color: coral;
  width: 33.3%;
  height: 100%;
  padding: 0 10px 0px 10px;
}

.post-bg {
  background-image: url(assets/mini-pig.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 368px;
  height: 276px;
}

.latest-post {
  background-color: cornflowerblue;
  margin-top: 10px;
  padding: 0px 0 0 20px;
  display: block;
  height: 96px;
}

.latest-post h6 {
  padding-top: 10px;
}

.latest-post img {
  width: 96px;
  height: 96px;
  float: right;
}

.line-through {
  text-decoration: line-through;
}

.latest-deals {
  background-color: khaki;
    padding: 14px;
}

.latest-deals img {
  width: 270px;
  height: 201px;
}

.bg-footer {
    background-color: #131313;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    color: #aaa;
    padding: 35px 0 0 0;
}

.footer-fa-icons a {
    margin-left: 10px;
    margin-right: 10px;
   padding: 10px;
    background-color: #3a3a3a;
    border-radius: 100%;
    text-decoration: none;
    color: white;
    font-size: 1em;
}

.footer-fa-icons a:hover {
    text-decoration: none;
    color: #aaa;
    background-color: gray;
    border-radius: 100%;
}

.color {
    background-color: #000;
    color: #aaa;
    padding: 40px 0 40px 0;
}

.quick-links {
  word-spacing: 0.5em;
  font-size: 0.8em;
  padding: 25px 0 25px 0;
}

.quick-links a{
    color: #aaa;
    text-decoration: none;
   
}